body {
  font-family: 'Helvetica', 'Open Sans', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background: #f3f3f3;
}
h2,
h3,
h4,
p {
  margin: 0;
}
h2,
h3,
h4,
button,
.button,
a.button {
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
}
h2,
h3,
h4 {
  font-weight: normal;
}
button,
.button,
a.button {
  font-size: .8em;
}
a {
  color: #ff4646;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active,
a:focus {
  color: #333;
}
.small {
  font-size: .8em;
}
.story-item {
  background: #f9f9f9;
}
hr {
  border-width: 0;
  border-top: 1px solid #ddd;
}
.clear {
  content: "";
  display: table;
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
