body {
  font-family: 'Helvetica', 'Open Sans', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background: #f3f3f3;
}
h2,
h3,
h4,
p {
  margin: 0;
}
h2,
h3,
h4,
button,
.button,
a.button {
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
h2,
h3,
h4 {
  font-weight: normal;
}
button,
.button,
a.button {
  font-size: .8em;
}
a {
  color: #ff4646;
  text-decoration: none;
  outline: none;
  &:hover {
    color: #333;
  }
}

.story-item {
  background: #f7f7f7;
}
